/*
Name: Kaoru Sato Dugas
     File name: styles.css
     Date: 3/23 2026
*/

/*whole website design*/
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 50px;
}

/*add style for header*/
header {
    display: flex;       
    justify-content: space-between;
    align-items: center;       
    padding: 0px 20px;
    background-color: white;
}

/*add style for navbar*/
.logo {
    width: 30%;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

.menu {
     display: flex;
     list-style: none;
     gap: 20px;
     margin: 0;
     padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    padding-bottom: 3em;
}

.menu i {
  font-size: 20px;
  color: #4b4b4b;
}

/* the top image */
.portfolio-image {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    padding-top: 30px;
}

/* Separator */
.triangle {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  height:10vmin;
  background-color:#D8E4E5;
  margin-bottom: 50px;
}

.border {
border-bottom:2px dashed #4b4b4b;
padding-top: 40px;
}

/* the What I Focus on section */
.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px;
}

.lists {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    border: 1px solid #ccc;    
    border-radius: 10px;       
    padding: 20px;             
    width: 300px;
    height: 150px;            
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: #fff;    
    margin: 10px;     
}

/* the My Work section */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mockup {
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.1);
    object-fit: cover;
}

.target {
    width: 5%;
    height: auto;
    padding-right: 20px;
}

/* design for my image */
:root {
    --yellow: #ffbdbd91;
    --bgColor: #f1f5c6;
  }

  .index-framed {
    border-radius: 50%;
    box-shadow:
    -50px -50px 0 -40px var(--yellow),
    50px 50px 0 -40px var(--yellow);
    margin-left: 0;
    width: 100%;
    height: auto;
}

.index-flex {
    display: flex;
    align-items: center;
    margin: 50px;
}

.index-text {
    margin: 100px 0 100px 200px;
}

/* decoration for h1 and h2 */
h1 {
    text-shadow: 1px 1px 2px #a7010191;
}

.red {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: left;
    font-size: 30px;
}

.blue {
    text-shadow: 2px 2px 2px #04d2a280;
}

/* about page */
.about-item {
    height: auto;
    display: flex;       
    justify-content: space-between;
    align-items: center;       
    gap: 50px;
    background-color: white;
    margin-top: 50px;
}

.about-text {
    letter-spacing: 4px;
    display: flex;
    flex-direction: column;
}

.index-framed-2 {
    border-radius: 50%;
    box-shadow:
    -50px -50px 0 -40px var(--yellow),
    50px 50px 0 -40px var(--yellow);
    margin-left: 0;
    width: 30%;
    height: auto;
}

.index-framed-3 {
    text-align: center;
    width: 60%;
    height: auto;
    margin: 50px;
}

.highlight {
    color: blue;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 204, 0);
}

.highlight-1 {
    color: red;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 204, 0);
}

/* case study page */
.case-study-center {
   margin: 100px;
}

.items {
    font-size: 18px;
    font-weight: bold;
    color: #826d62;
    padding-top: 20px;
}

.case-study-cards {
    padding: 20px;             
    width: 500px;
    height: 300px;            
    margin: 10px;
    
}

.mockup-images {
    height: 80%;
    width: auto;
    border: 1px solid #ccc;    
    border-radius: 10px;
}

.support-info {
    color: rgb(110, 110, 110);
}

.personas {
    width: 50%;
    height: auto;
}

.social-media{
    width: 30%;
    height: auto;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 204, 0);
}

.highligh {
    border: 1px solid #ccc;          
    padding: 0 50px 50px 50px;             
    width: 100%;
    height: 100%;            
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: #fff;    
    margin-top: 100px;
}

.box-1 {
    border: 1px solid #ccc;          
    padding: 10px 10px 10px 10px;             
    width: 100%;
    height: 100%;            
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: #fff;    
    margin-top: 100px;
}

.research {
    width: 100%;
    height: auto;
    padding: 20px;
}

.test-row {
    display: flex;
    overflow-x: auto;
    gap: 16px;
}

.test-row img {
  width: 300px;
  height: auto;
  flex-shrink: 0;
}

/* resume page */
.resume {
    max-width: 100%;
    height: auto;
}

/* contact page */
.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

.portfolio {
    flex: 1 0 40%;
    margin: 10px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
}

.title {
   text-align: center;
}

.mochi {
    width: 300px;
    height: auto;
}

.skill {
    display: flex;
    justify-content: center;
}

li {
    margin: 20px 0;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #826d62;
}

a:active {

    color: ##826d62;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}

footer p {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.social {
    padding-top:  40px;
    justify-content: space-between;
    align-items: center; 
}

/* style for mobile screen 1000px
@media screen and (max-width: 1000px) {
    .index-flex {
        display: inline-block;
        align-items: center;
    }

    .index-text {
        margin: 10px;
    }

    .index-framed {
        margin-top: 20px;
    }

    .about-item {
    display: block\;
    justify-content: center;
    margin: 10px;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 20px;
        margin: 0;
    }

    nav ul li {
        font-size: 30px;
        display: inline-block;
        justify-content: space-around;
    }

    .index-container {
        display: flex;
        flex-direction: column;
    }

    a {
        font-size: 20px;
    }

    .social {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
    */

    